*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 99vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 24), rgb(0, 0, 53), rgb(0, 0, 17));
    display: flex;
    align-items: center;
    justify-content: center;
}

.video{
    border: 3px solid #5d66ad80;
    box-shadow: 10px 14px 2px #36363647;
    height: 563px;
}

.div2{
    height: 800px;
    display:block;
    background-image: linear-gradient(rgb(0, 0, 17), black);
}
.div3{
    height: 1500px;
    background-color: black;
}
.div4{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: emoji;
    font-size: 3em;
    font-weight: 800;
}