*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

@keyframes start{
    0% {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    70% {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    10% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeinsessao1 {
    0% {
        opacity: 0;
    }
    
    15% {
        opacity: 0;
    }
    
    25%{
        opacity: 0;
    }
    
    26% {
        opacity: 0.8;
    }
    
    30%{
        opacity:1;
    }   
}
@keyframes fadeinsessao2 {
    58%{
        opacity: 0;
    }
    60%{
        opacity: 0.3;
    }
    
    62% {
        opacity: 1;
    }
    
   
}
@keyframes fadeinsessao3 {
    88%{
        opacity: 0;
    }
    92%{
        opacity: 0.3;
    }
    
    95% {
        opacity: 1;
    }
    
   
}

@keyframes spin {
    to {
      transform: rotateY(5turn);
    }
  }  
@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
        .gato {
            animation: spin linear both;
            animation-timeline: scroll();
        } 
        #ani1{
            animation: fadeinsessao1;
            animation-timeline: scroll();
        }

        #st2{
            animation: fadeinsessao2;
            animation-timeline: scroll();
        }
        #st3{
            animation: fadeinsessao3;
            animation-timeline: scroll();
        }
         }
    }
    

body{
    background-image: url(../imagens/teste-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    
}
#assinatura{
    font-family: "Dancing Script", cursive;
    text-align: end;
}

.cont{
    display: flex;
    align-items: center;
    height: 175px;
    justify-content: center;
    width: 100%;
}

.fitem{
    width: 300px;
    height: 80px;
    border: 1px solid black;
    background-image: url('../imagens/fundo-estrela.png');
    font-weight: 1000;
    font-size: 2em;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.527);
    
}
#botao1{
    animation: start 1.5s;
}
#botao2{
    animation: start 2s;
}
#botao3{
    animation: start 2.5s;
}
.cont a{
    text-shadow: 2px 1px 2px #3F51B5;
    text-decoration: none;
    color: rgb(235, 199, 38);
}

.imagem{
    background-image: url(../imagens/22222.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 800px;
    animation: start 4s ease-out;
    transform-origin: center bottom;
}

.dotpoint{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    width: 100%;
    margin-top: 100px;
    background-image: linear-gradient(#000317, 20%, #141472, 50%, rgb(98, 105, 146), 70%, #8f9184, 95%, #c2c6b5);
}

.dot{
    height: 40px;
    width: 40px;
    background-color: #3836ac;
    border-radius: 50%;
    flex: none;
    margin-top: 100px;
}
#pponto{
    margin-top: 400px;
}
#sponto{
    background-color: #7372b8;
}
#tponto{
    background-color: #a3a3bd;
}

.sessao{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1600px;
    width: 100%;
    background-image: url(../imagens/fundo-shopping.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
}
.sessao p{
    margin: 0px 75px 0px 75px;
}
.prim{
    text-align: center;
    color: white;
    width: 65%;
    margin-top: 350px;
    background-color: rgb(7 5 1 / 94%);
    padding: 30px;
    padding-bottom: 60px;

    border-radius: 40px;
    box-shadow: 6px 7px 2px #000000a1;
}
#ani1{
    width: 55%;
}
.prim h1{
    font-size: 2.8em;
    font-family: "Sriracha", cursive;
    margin-bottom: 0px;
    text-shadow: 2px 2px 2px black;
}
.prim p{
    font-size: 1.4em;
    font-family: "Sono", monospace;
    text-align: left;
    text-justify: auto;
    text-indent: 40px;
    line-height: 40px;
}
.prim img{
    width: 60%;
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 2px white;
    border-radius: 5px;
}



.gato{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2000px;
}
.gato img{
    width: 244px;
    height: 173px;
}
    #i2{
        margin-top: 0px;
        background-image: linear-gradient(#a38154, 20%, #ecd196, 50%, #eed9ad, 70%, #c7d3ed, 90%, #95b4f5);
    }
    
    #s2{
        background-image: url(../imagens/fundo-praia.jpg);
    }
    #st2{
        background-color: rgba(29, 36, 120, 0.87);
        width: 55%;
    }
    #st2 p, .prim p{
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    }
    #ptitle2{
        margin-bottom: 20px;
    }
    #st2 p {
        margin: 0px 50px 0px 50px;
    }
    #st2 img {
        width: 60%;
    }



    
    #i3{
        display: flex;
        margin-top: 0px;
        background-image: linear-gradient(#f8f1de, 20%, #ece7da, 50%, #c9d2d1, 70%, #c9d2d1, 90%, #c9d2d1);
        justify-content: center;
        align-items: center;
    }


    #gatoredondo img{
        width: 250px;
        height: 250px;
        box-shadow:  0px 0px 15px 1px #000000ba;
        border-radius: 50%;
    }
    
    #s3{
        background-image: url(../imagens/fundo-canada.jpg);
        
    }

    #st3{
        background-color: #1d0e0ef7;
        flex-wrap: nowrap;
    }
    
    #circulo, #se3{
        border: 2px solid rgb(16 16 16 / 81%);
        box-shadow: none;
    }

    #canada-icon{
        width: 50px;
        height: 50px;
        border: none;
        box-shadow: none;
        margin-top: 0px;
    }

    #st3{
        padding-top: 20px;
        padding-bottom: 35px;
        width: 60%;
    }

    #terceiro-texto{
        margin: 0px 30px 0px 20px;
    }

    #se3{
        width: 50%;
    }

    #circulo{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 60px;
    }

.bottom{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, #c5cdcf, 20%, #c5cdcf, 50%, #c5cdcf, #acabaa, 95%, #b9b9b9);
}
#botao-rosangelo{
    background-image: url(../imagens/clickme-1.png);
    width: 264px;
    height: 230px;
    position: absolute;
    left: 80%;
    bottom: -841.5%;
}
#botao-rosangelo:hover{
    background-image: url(../imagens/clickme-2.png);
}
#final{
    position: absolute;
    bottom: -838%;
    font-family: 'Mukta';
    font-weight: 900;
    font-size: 5em;
    left: 50%;
    text-decoration: underline;
    color: rgb(93, 55, 180);
    text-shadow: 2px 2px 2px black;
}
