*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/teste-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.cont{
    display: flex;
    align-items: center;
    height: 175px;
    justify-content: center;
    width: 100%;
}

.fitem{
    width: 300px;
    height: 80px;
    border: 1px solid black;
    background-image: url('../imagens/fundo-estrela.png');
    font-weight: 1000;
    font-size: 2em;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    color: rgb(235, 199, 38);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.527);
}

.fitem span{
    text-shadow: 2px 1px 2px #3F51B5;
}

.imagem{
    background-image: url(../imagens/22222.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 800px;
}